In [32]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rajbi\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rajbi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\rajbi\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\rajbi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sortedcontainers in c:\users\rajbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\rajbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\rajbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rajbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rajbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\rajbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\rajbi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\rajbi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\rajbi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rajbi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\rajbi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\rajbi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\rajbi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\rajbi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rajbi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [33]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.common.by import By

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

#importing warnings
import warnings

import os

In [34]:
PATH = 'C:\Program Files (x86)\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(r"C:\\Users\\rajbi\\Downloads\\chromedriver_win32\\chromedriver.exe")

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2307474941.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\rajbi\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [6]:
driver.get("https://www.flipkart.com/")

time.sleep(2)
try: 
    search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
    search_btn.click()
except NoSuchElementException:
    pass
search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("home theater")
time.sleep(0.5)
search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btns.click()

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/702641898.py:5: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/702641898.py:9: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  search_job=driver.find_element_by_class_name('_3704LK')
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/702641898.py:12: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [8]:
stars=[]
urls=[]
xls=[]
short_review=[]
complete_review=[]

# Fetching url for products
for i in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):
    xls.append(i.get_attribute("href"))

print("Total products to scrape :",len(xls))
    
for cnt_prd in range(len(xls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(xls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//div[@class='_1AtVbE col-12-12']//div[@class='_3UAT2v _16PBlm']/span") # click on all review
        search_btn.click()
        time.sleep(1)
        try:
         #scraping 10 pages url
            url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
            for i in url_1:
                urls.append(i.get_attribute('href'))
            url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
            for i in url_2:
                urls.append(i.get_attribute('href'))
                time.sleep(4)


            for i in urls:
                driver.get(i)
            #for scrapping the number of stars
                for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                    stars.append(j.text)
         
                for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                    complete_review.append(l.text)
        
        except:
            count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping
    
review_list6 = pd.DataFrame({})
review_list6['Rating'] = stars[0:]
review_list6['Review'] = complete_review[0:]

review_list6

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3434201306.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):

Total products to scrape : 40
Completed scraping for product 1

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3434201306.py:24: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3434201306.py:27: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3434201306.py:36: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3434201306.py:39: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):

Completed scraping for product 2
Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24
Completed scraping for product 25
Completed scraping for product 26
Completed scraping for product 27
Completed scraping for product 28
Completed scraping for product 29
Completed scraping for product 30
Completed scraping for product 31
Completed scraping for product 32
Completed scraping for product 33
Completed scraping for product 34
Completed scraping for product 35
Completed scraping for product 36
Completed scraping for product 37
Completed scraping for product 38
Completed scraping for product 39
Completed scraping for product 40

      Rating                                             Review
0          4  Build quality of the product is very good..\nP...
1          5  Good quality amazing sound quality clear sound...
2          5                                            Satisfy
3          5  Good quality. Surrounded is like well, bass ef...
4          5                                  Very good product
...      ...                                                ...
51441      5                               𝓘 𝓵𝓲𝓴𝓮𝓭 𝓷𝓲𝓬𝓮 𝓹𝓻𝓸𝓭𝓾𝓬𝓽
51442      5  Awesome design and build quality. Sound qualit...
51443      5  Bass and design is too good. Battery backup is...
51444      5  Portable speaker with multi function also full...
51445      5  Awesome design and build quality also it water...

[51446 rows x 2 columns]

In [9]:
search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("professional camera")
time.sleep(0.5)
search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btns.click()

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/1245991382.py:1: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  search_job=driver.find_element_by_class_name('_3704LK')
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/1245991382.py:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [10]:
stars=[]
urls=[]
xls=[]
short_review=[]
complete_review=[]

# Fetching url for products
for i in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):
    xls.append(i.get_attribute("href"))

print("Total products to scrape :",len(xls))
    
for cnt_prd in range(len(xls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(xls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//div[@class='_1AtVbE col-12-12']//div[@class='_3UAT2v _16PBlm']/span") # click on all review
        search_btn.click()
        time.sleep(1)
        try:
         #scraping 10 pages url
            url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
            for i in url_1:
                urls.append(i.get_attribute('href'))
            url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
            for i in url_2:
                urls.append(i.get_attribute('href'))
                time.sleep(4)


            for i in urls:
                driver.get(i)
            #for scrapping the number of stars
                for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                    stars.append(j.text)
         
                for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                    complete_review.append(l.text)
        
        except:
            count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping
    
review_list7 = pd.DataFrame({})
review_list7['Rating'] = stars[0:]
review_list7['Review'] = complete_review[0:]

review_list7

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/927442042.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):

Total products to scrape : 40

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/927442042.py:24: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/927442042.py:27: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/927442042.py:36: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/927442042.py:39: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):

Completed scraping for product 1
Completed scraping for product 2
Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24
Completed scraping for product 25
Completed scraping for product 26
Completed scraping for product 27
Completed scraping for product 28
Completed scraping for product 29
Completed scraping for product 30
Completed scraping for product 31
Completed scraping for product 32
Completed scraping for product 33
Completed scraping for product 34
Completed scraping for product 35
Completed scraping for product 36
Completed scraping for product 37
Completed scraping for product 38
Completed scraping for product 39
Completed scraping for product 40

     Rating                                             Review
0         4  Best Camera For the Beginners... Totally Loved...
1         5  This is my first Canon eos 1500d Camera and I'...
2         5  I am reviewing this product after two years of...
3         5  Awesome product for someone like me who likes ...
4         5  Good quality pics its a better selection for b...
...     ...                                                ...
3900      5                                   Its Good Product
3901      4                                   Average product.
3902      1                                          Don't buy
3903      4  Super quality in best price.\nCustomer is very...
3904      5                                           Nice man

[3905 rows x 2 columns]

In [11]:
driver.get("https://www.flipkart.com/")

time.sleep(2)
try: 
    search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
    search_btn.click()
except NoSuchElementException:
    pass
search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("smartphones")
time.sleep(0.5)
search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btns.click()

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2793470024.py:5: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2793470024.py:9: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  search_job=driver.find_element_by_class_name('_3704LK')
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2793470024.py:12: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [12]:
stars=[]
urls=[]
xls=[]
short_review=[]
complete_review=[]

# Fetching url for products
for i in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):
    xls.append(i.get_attribute("href"))

print("Total products to scrape :",len(xls))
    
for cnt_prd in range(len(xls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(xls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//div[@class='_1AtVbE col-12-12']//div[@class='_3UAT2v _16PBlm']/span") # click on all review
        search_btn.click()
        time.sleep(1)
        try:
         #scraping 10 pages url
            url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
            for i in url_1:
                urls.append(i.get_attribute('href'))
            url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
            for i in url_2:
                urls.append(i.get_attribute('href'))
                time.sleep(4)


            for i in urls:
                driver.get(i)
            #for scrapping the number of stars
                for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                    stars.append(j.text)
         
                for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                    complete_review.append(l.text)
        
        except:
            count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping
    
review_list5 = pd.DataFrame({})
review_list5['Rating'] = stars[0:]
review_list5['Review'] = complete_review[0:]

review_list5

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/270591081.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):

Total products to scrape : 24

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/270591081.py:24: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/270591081.py:27: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/270591081.py:36: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/270591081.py:39: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):

Completed scraping for product 1
Completed scraping for product 2
Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24

      Rating                                             Review
0          3                                       Good product
1          5                                               good
2          5   Mind Blowing Performance, Nice Phone Cheap Rated
3          5                                        Nyc photo s
4          5                   Super nice product in this price
...      ...                                                ...
29655      3  I have found lots of fingerprint in the screen...
29656      5                                              Supar
29657      5                          Very very superb Phone..😘
29658      1                                Overheat too much..
29659      5                                Best budget phone..

[29660 rows x 2 columns]

In [13]:
search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("monitors")
time.sleep(0.5)
search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btns.click()

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/4190789091.py:1: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  search_job=driver.find_element_by_class_name('_3704LK')
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/4190789091.py:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [14]:
stars=[]
urls=[]
xls=[]
short_review=[]
complete_review=[]

# Fetching url for products
for i in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):
    xls.append(i.get_attribute("href"))

print("Total products to scrape :",len(xls))
    
for cnt_prd in range(len(xls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(xls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//div[@class='_1AtVbE col-12-12']//div[@class='_3UAT2v _16PBlm']/span") # click on all review
        search_btn.click()
        time.sleep(1)
        try:
         #scraping 10 pages url
            url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
            for i in url_1:
                urls.append(i.get_attribute('href'))
            url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
            for i in url_2:
                urls.append(i.get_attribute('href'))
                time.sleep(4)


            for i in urls:
                driver.get(i)
            #for scrapping the number of stars
                for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                    stars.append(j.text)
         
                for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                    complete_review.append(l.text)
        
        except:
            count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping
    
review_list4 = pd.DataFrame({})
review_list4['Rating'] = stars[0:]
review_list4['Review'] = complete_review[0:]

review_list4

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/772359302.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):

Total products to scrape : 24

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/772359302.py:24: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/772359302.py:27: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")

Completed scraping for product 1
Completed scraping for product 2

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/772359302.py:36: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/772359302.py:39: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):

Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24

      Rating                                             Review
0          4  good product , sound need to be improved , sou...
1          3  Pros - Slim border line style. Lightweight & c...
2          5  The product was great I am loving it and it's ...
3          5  Amazing work good quality display mind-blowing...
4          4  Happy With the quick delivery of flipkart. But...
...      ...                                                ...
20262      5                                       Good product
20263      5                                       Good product
20264      5                                 Excellent Product.
20265      4                         Good quality & good design
20266      4                          Nice product quality 👍🏽👍🏽

[20267 rows x 2 columns]

In [35]:
#laptops:
driver.get("https://www.flipkart.com/")

time.sleep(2)
try: 
    search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
    search_btn.click()
except NoSuchElementException:
    pass
search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("laptops")
time.sleep(0.5)
search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btns.click()

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3776036008.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3776036008.py:10: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  search_job=driver.find_element_by_class_name('_3704LK')
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3776036008.py:13: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [36]:
stars=[]
urls=[]
xls=[]
short_review=[]
complete_review=[]

# Fetching url for products
for i in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):
    xls.append(i.get_attribute("href"))

print("Total products to scrape :",len(xls))
    
for cnt_prd in range(len(xls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(xls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//div[@class='_1AtVbE col-12-12']//div[@class='_3UAT2v _16PBlm']/span") # click on all review
        search_btn.click()
        time.sleep(1)
        try:
         #scraping 10 pages url
            url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
            for i in url_1:
                urls.append(i.get_attribute('href'))
            url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
            for i in url_2:
                urls.append(i.get_attribute('href'))
                time.sleep(4)


            for i in urls:
                driver.get(i)
            #for scrapping the number of stars
                for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                    stars.append(j.text)
         
                for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                    complete_review.append(l.text)
        
        except:
            count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping
    
review_list8 = pd.DataFrame({})
review_list8['Rating'] = stars[0:]
review_list8['Review'] = complete_review[0:]

review_list8

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3086747160.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):

Total products to scrape : 24
Completed scraping for product 1
Completed scraping for product 2

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3086747160.py:24: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3086747160.py:27: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3086747160.py:36: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3086747160.py:39: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):

Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24

     Rating                                             Review
0         5  Laptop is amazing and sleek. Good for day-to-d...
1         3  Good performing laptop\nBut less port option\n...
2         4                                      Better option
3         5                                       Nice product
4         5  Awesome.\nI edited my review after 10 days of ...
...     ...                                                ...
8252      5                                         Excellent.
8253      5                             Really a good product.
8254      5  Till date everything is OK, will edit after so...
8255      5             Super laptop and speed is super speed.
8256      5                         I am just loving it......❤

[8257 rows x 2 columns]

In [37]:
time.sleep(2)

search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("printers")
time.sleep(0.5)
search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btns.click()

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2989020499.py:3: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  search_job=driver.find_element_by_class_name('_3704LK')
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2989020499.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_btns=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [39]:
stars=[]
urls=[]
xls=[]
short_review=[]
complete_review=[]

# Fetching url for products
for i in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):
    xls.append(i.get_attribute("href"))

print("Total products to scrape :",len(xls))
    
for cnt_prd in range(len(xls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(xls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//div[@class='_1AtVbE col-12-12']//div[@class='_3UAT2v _16PBlm']/span") # click on all review
        search_btn.click()
        time.sleep(1)
        try:
         #scraping 10 pages url
            url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
            for i in url_1:
                urls.append(i.get_attribute('href'))
            url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
            for i in url_2:
                urls.append(i.get_attribute('href'))
                time.sleep(4)


            for i in urls:
                driver.get(i)
            #for scrapping the number of stars
                for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
                    stars.append(j.text)
         
                for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                    complete_review.append(l.text)
        
        except:
            count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping
    
review_list9 = pd.DataFrame({})
review_list9['Rating'] = stars[0:]
review_list9['Review'] = complete_review[0:]

review_list9

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2786936551.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):

Total products to scrape : 40

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2786936551.py:24: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2786936551.py:27: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2786936551.py:36: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/2786936551.py:39: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):

Completed scraping for product 1
Completed scraping for product 2
Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24
Completed scraping for product 25
Completed scraping for product 26
Completed scraping for product 27
Completed scraping for product 28
Completed scraping for product 29
Completed scraping for product 30
Completed scraping for product 31
Completed scraping for product 32
Completed scraping for product 33
Completed scraping for product 34
Completed scraping for product 35
Completed scraping for product 36
Completed scraping for product 37
Completed scraping for product 38
Completed scraping for product 39
Completed scraping for product 40

      Rating                                             Review
0          5  Very good delivery and good quality of product...
1          5  Its value for money for the price i paid for i...
2          5                                          Good very
3          3                                       Best printar
4          1     Bad product after use 1 week ink has ended😢😢😢?
...      ...                                                ...
57615      5                            Best Product, thank you
57616      1  Very bad product, catridges are not working an...
57617      4                                       nice printer
57618      5     nice delivery\nnice product\nlove this printer
57619      1                       Printer ink fastly consuming

[57620 rows x 2 columns]

# AMAZON

In [15]:
#Amazon 1
driver.get("https://www.amazon.in/")

time.sleep(2)

search_job=driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")  #search bar
search_job.send_keys("laptop")

search_btn=driver.find_element(By.XPATH,"//div[@class='nav-right']//input[@class='nav-input nav-progressive-attribute']") #search button
search_btn.click()

time.sleep(2)

urls=[]
rating_info = []
review_info = []

# Fetching url for products
for i in driver.find_elements_by_xpath("//h2//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    urls.append(i.get_attribute("href"))

print("Total products to scrape :",len(urls))
    
for cnt_prd in range(len(urls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(urls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//a[@data-hook='see-all-reviews-link-foot']") # click on all review
        search_btn.click()
        time.sleep(1)
        
        while(count1): # while loop till count1 is true. It means countinue the review scarping as there are more reviews in next page.
            try:
                for cnt in range(10): # for loop to fetch review in different pages
                    
                    # Scraping rating
                    info = driver.find_elements(By.XPATH,"//div[@class='a-section celwidget']//div[@class='a-row']//a[@class='a-link-normal']")
                    rating_info.append(info[cnt].get_attribute("title").split('.')[0])
                    
                    # Scraping review
                    info = driver.find_elements(By.XPATH,"//div[@class='a-row a-spacing-small review-data']")
                    review_info.append(info[cnt].text)
                    
                # Clicking next button
                search_btn=driver.find_element(By.XPATH,"//li[@class='a-last']")
                search_btn.click()
                time.sleep(1)
            
            except:
                count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/3866484526.py:19: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//h2//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):

Total products to scrape : 25
Completed scraping for product 1
Completed scraping for product 2
Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24
Completed scraping for product 25

In [16]:
review_list1 = pd.DataFrame({})
review_list1['Rating'] = rating_info[0:]
review_list1['Review'] = review_info[0:]

review_list1

     Rating                                             Review
0         4  Description of the item doesn't clearly state ...
1         2   I have purchased #LenovoIdeapad3\nI am extrem...
2         5  Laptop seems good. Simple laptop with all the ...
3         1   Screen flickering problem I wants to refund i...
4         4  First impressions:\nSpeedy\nGood built\nGets t...
...     ...                                                ...
3277      5  Best buy gaming laptop go for it best one with...
3278      5  Go for it if you are FORTNITE or valorant play...
3279      5  Amazing product!\nThanks amazon for on time de...
3280      5   I am writing this review after my initial imp...
3281      5  I love it laptop is too good it’s amazing lapt...

[3282 rows x 2 columns]

In [17]:
#Amazon 2
driver.get("https://www.amazon.in/")

time.sleep(2)

search_job=driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")  #search bar
search_job.send_keys("printers")

search_btn=driver.find_element(By.XPATH,"//div[@class='nav-right']//input[@class='nav-input nav-progressive-attribute']") #search button
search_btn.click()

time.sleep(2)

urls=[]
rating_info = []
review_info = []

# Fetching url for products
for i in driver.find_elements_by_xpath("//h2//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    urls.append(i.get_attribute("href"))

print("Total products to scrape :",len(urls))
    
for cnt_prd in range(len(urls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(urls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//a[@data-hook='see-all-reviews-link-foot']") # click on all review
        search_btn.click()
        time.sleep(1)
        
        while(count1): # while loop till count1 is true. It means countinue the review scarping as there are more reviews in next page.
            try:
                for cnt in range(10): # for loop to fetch review in different pages
                    
                    # Scraping rating
                    info = driver.find_elements(By.XPATH,"//div[@class='a-section celwidget']//div[@class='a-row']//a[@class='a-link-normal']")
                    rating_info.append(info[cnt].get_attribute("title").split('.')[0])
                    
                    # Scraping review
                    info = driver.find_elements(By.XPATH,"//div[@class='a-row a-spacing-small review-data']")
                    review_info.append(info[cnt].text)
                    
                # Clicking next button
                search_btn=driver.find_element(By.XPATH,"//li[@class='a-last']")
                search_btn.click()
                time.sleep(1)
            
            except:
                count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/1407937779.py:19: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//h2//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):

Total products to scrape : 25
Completed scraping for product 1
Completed scraping for product 2
Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24
Completed scraping for product 25

In [98]:
len(rating_info)

24782

In [19]:
review_list2 = pd.DataFrame({})
review_list2['Rating'] = rating_info[0:25161]
review_list2['Review'] = review_info[0:25161]

review_list2

      Rating                                             Review
0          1  its only print 3 to 4 page properly then start...
1          1  Printer came damaged,While installing it gave ...
2          3  It is good only for plain paper printing. If y...
3          3  Prints 500 rs notes properly but 2000 rs notes...
4          1  Got a defective piece. Very bad packaging. As ...
...      ...                                                ...
25156      5  1 year ki andar kharap ho gayea he.jada ink kh...
25157      1  I bought this printer one month ago. The print...
25158      4  Good and super experience, must buy and use it...
25159      2  Dislike- it does not print the last photo pape...
25160      4               Good picture quality, easy to carry.

[25161 rows x 2 columns]

In [22]:
#Amazon3
driver.get("https://www.amazon.in/")

time.sleep(2)

search_job=driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")  #search bar
search_job.send_keys("router")

search_btn=driver.find_element(By.XPATH,"//div[@class='nav-right']//input[@class='nav-input nav-progressive-attribute']") #search button
search_btn.click()

time.sleep(2)

urls=[]
rating_info = []
review_info = []

# Fetching url for products
for i in driver.find_elements_by_xpath("//h2//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
    urls.append(i.get_attribute("href"))

print("Total products to scrape :",len(urls))
    
for cnt_prd in range(len(urls)): # for loop to fetch product review
    count1 = True # setting count1 to true. It means there are more reviews to scrape in next page.
    driver.get(urls[cnt_prd])
    time.sleep(2)
    
    try:
        search_btn=driver.find_element(By.XPATH,"//a[@data-hook='see-all-reviews-link-foot']") # click on all review
        search_btn.click()
        time.sleep(1)
        
        while(count1): # while loop till count1 is true. It means countinue the review scarping as there are more reviews in next page.
            try:
                for cnt in range(10): # for loop to fetch review in different pages
                    
                    # Scraping rating
                    info = driver.find_elements(By.XPATH,"//div[@class='a-section celwidget']//div[@class='a-row']//a[@class='a-link-normal']")
                    rating_info.append(info[cnt].get_attribute("title").split('.')[0])
                    
                    # Scraping review
                    info = driver.find_elements(By.XPATH,"//div[@class='a-row a-spacing-small review-data']")
                    review_info.append(info[cnt].text)
                    
                # Clicking next button
                search_btn=driver.find_element(By.XPATH,"//li[@class='a-last']")
                search_btn.click()
                time.sleep(1)
            
            except:
                count1 = False # Setting count1 to false. It means there are no review to scrape.
            
    except:
        pass
    
    print("Completed scraping for product",cnt_prd+1) # status for scraping

C:\Users\rajbi\AppData\Local\Temp/ipykernel_44004/1215113989.py:19: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  for i in driver.find_elements_by_xpath("//h2//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):

Total products to scrape : 25
Completed scraping for product 1
Completed scraping for product 2
Completed scraping for product 3
Completed scraping for product 4
Completed scraping for product 5
Completed scraping for product 6
Completed scraping for product 7
Completed scraping for product 8
Completed scraping for product 9
Completed scraping for product 10
Completed scraping for product 11
Completed scraping for product 12
Completed scraping for product 13
Completed scraping for product 14
Completed scraping for product 15
Completed scraping for product 16
Completed scraping for product 17
Completed scraping for product 18
Completed scraping for product 19
Completed scraping for product 20
Completed scraping for product 21
Completed scraping for product 22
Completed scraping for product 23
Completed scraping for product 24
Completed scraping for product 25

In [23]:
len(review_info)

30127

In [25]:
review_list3 = pd.DataFrame({})
review_list3['Rating'] = rating_info[0:30127]
review_list3['Review'] = review_info[0:30127]

review_list3

      Rating                                             Review
0          3  I bought it two days back. It is working prope...
1          2  I bought this product on 23rd July 2016. The b...
2          1  It is a useless product. When i got the first ...
3          5  Brilliant purchase. Doesn't let the internet g...
4          1  It worked for barely a couple of months, then ...
...      ...                                                ...
30122      1  I have a 150 Mbps broadband connection. I want...
30123      2  For starters ,I would like to state that the P...
30124      5  Writing this after about 15 days of use.\n\nOu...
30125      3  I have 100 MBPS connection (Optical Fiber), be...
30126      4  First of all, I got a used product. 😁 And I re...

[30127 rows x 2 columns]

In [41]:
frames=[review_list1,review_list2,review_list3,review_list4,review_list5,review_list6,review_list7,review_list8,review_list9]

In [42]:
df_review=pd.concat(frames,sort=False)

In [43]:
df_review

      Rating                                             Review
0          4  Description of the item doesn't clearly state ...
1          2   I have purchased #LenovoIdeapad3\nI am extrem...
2          5  Laptop seems good. Simple laptop with all the ...
3          1   Screen flickering problem I wants to refund i...
4          4  First impressions:\nSpeedy\nGood built\nGets t...
...      ...                                                ...
57615      5                            Best Product, thank you
57616      1  Very bad product, catridges are not working an...
57617      4                                       nice printer
57618      5     nice delivery\nnice product\nlove this printer
57619      1                       Printer ink fastly consuming

[229725 rows x 2 columns]

In [45]:
df_review['Rating'].value_counts()

5    126408
4     46846
1     32519
3     15471
2      8481
Name: Rating, dtype: int64

In [48]:
sorts = df_review.sort_values("Rating", axis = 0, ascending = False)

In [53]:
a=sorts[0:126408]
a

      Rating                                             Review
6365       5  It's really nice product worth to buy and I'm ...
2455       5                                          Very nice
14681      5                                               good
2443       5                Nice product and very comfortable 👌
2445       5         Very lightweight , thin , classic product.
...      ...                                                ...
24751      5                                       Good quality
18119      5                                  Very nice product
15385      5                                    Very bad signal
19999      5  I liked design only other wise product similar...
18237      5  It is doing fairly good job in printing, scann...

[126408 rows x 2 columns]

In [59]:
df1=a[0:8481]
df1

      Rating                                             Review
6365       5  It's really nice product worth to buy and I'm ...
2455       5                                          Very nice
14681      5                                               good
2443       5                Nice product and very comfortable 👌
2445       5         Very lightweight , thin , classic product.
...      ...                                                ...
11458      5           Always prefer motorola over all other...
11457      5                                   Very nice mobile
3786       5                                Excellent product..
11455      5                  All is well. In this price range.
3787       5  Amazing laptop value for money.....💪\nPerforma...

[8481 rows x 2 columns]

In [60]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8481 entries, 6365 to 3787
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  8481 non-null   object
 1   Review  8481 non-null   object
dtypes: object(2)
memory usage: 198.8+ KB

In [54]:
b=sorts[126408:173254]
b

      Rating                                             Review
3095       4  Printer is good and performing well. The item ...
783        4                        Budget DSLR for beginner...
51241      4                                              Super
48865      4                                               Nice
49845      4                            I like it.. very useful
...      ...                                                ...
10639      4                 Ink cartridge finish early as show
7823       4  Better if add more ink in catridge or give add...
26028      4                                    Awesome product
7833       4  I THINK ONE SHOULD NOT BUY THIS BCZ THE RATE O...
26071      4  Camera is not that expected , 108 mp not getti...

[46846 rows x 2 columns]

In [65]:
df2=b[0:8481]
df2

      Rating                                             Review
3095       4  Printer is good and performing well. The item ...
783        4                        Budget DSLR for beginner...
51241      4                                              Super
48865      4                                               Nice
49845      4                            I like it.. very useful
...      ...                                                ...
50072      4                    Awesome sounding & bass....👌👌👌👌
12761      4                                       good printer
19559      4                                       Good printer
19560      4                                    Awesome Printer
19561      4                                               Nice

[8481 rows x 2 columns]

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8481 entries, 41744 to 11565
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  8481 non-null   object
 1   Review  8481 non-null   object
dtypes: object(2)
memory usage: 198.8+ KB

In [55]:
c=sorts[173254:188725]
c

      Rating                                             Review
29598      3                                    Value for money
30431      3  A very good printer for moderate business or p...
30548      3                                              Super
11665      3                                               Good
24054      3  Camera quality should be good and it should al...
...      ...                                                ...
51343      3                                               Okay
43323      3                                              Ok 👍👌
43198      3             Product is Good\n......value for money
3081       3        All good but battery backup not good enough
9560       3  This is not a led monitor, this is lcd monitor...

[15471 rows x 2 columns]

In [64]:
df3=c[0:8481]
df3

      Rating                                             Review
29598      3                                    Value for money
30431      3  A very good printer for moderate business or p...
30548      3                                              Super
11665      3                                               Good
24054      3  Camera quality should be good and it should al...
...      ...                                                ...
49344      3       Nice product for home use.\nSuperb quality 👍
49373      3  Body plastic is very poor as expected from can...
18882      3             A very small dot in display but its ok
5680       3                                         Good to by
49370      3                            Carriage is too short..

[8481 rows x 2 columns]

In [56]:
d=sorts[188725:197206]
d

      Rating                                             Review
36259      2                      Good product thank u flipcart
2055       2  Router get automatically switch off & on...not...
46334      2  Need to work on their cartridge. Everytime it'...
6622       2  I was bale to take only one clor phpto print o...
6623       2  I am using this product from last 2 months and...
...      ...                                                ...
34514      2  quality was not good but sound is not satisfie...
1776       2                                    SIM not working
27171      2                                       Sound is low
19880      2                               Good range and speed
20532      2                      How did connected wifi router

[8481 rows x 2 columns]

In [66]:
df4=d[0:8481]
df4

      Rating                                             Review
36259      2                      Good product thank u flipcart
2055       2  Router get automatically switch off & on...not...
46334      2  Need to work on their cartridge. Everytime it'...
6622       2  I was bale to take only one clor phpto print o...
6623       2  I am using this product from last 2 months and...
...      ...                                                ...
34514      2  quality was not good but sound is not satisfie...
1776       2                                    SIM not working
27171      2                                       Sound is low
19880      2                               Good range and speed
20532      2                      How did connected wifi router

[8481 rows x 2 columns]

In [57]:
e=sorts[197206:229725]
e

      Rating                                             Review
7260       1  Please don't purchase it , it is not printing ...
9006       1  Wrost experience and post sales service by ama...
9617       1                         But to difficult to refill
7259       1  Cartridge getting over very fast and this powe...
7811       1                                   Very bad product
...      ...                                                ...
6051       1  Bad product two week use. Display damaged blac...
6050       1  This item is LCD not led. But bill and product...
6038       1  Waste product..\nWorked for 3 months properly ...
7482       1                                                Bed
57619      1                       Printer ink fastly consuming

[32519 rows x 2 columns]

In [67]:
df5=e[0:8481]
df5

      Rating                                             Review
7260       1  Please don't purchase it , it is not printing ...
9006       1  Wrost experience and post sales service by ama...
9617       1                         But to difficult to refill
7259       1  Cartridge getting over very fast and this powe...
7811       1                                   Very bad product
...      ...                                                ...
53823      1                                        Third grade
53824      1                                          Not Happy
53825      1                                   Bat quality.....
926        1  cartridges are very low. After printing 10-15 ...
53855      1  This such a bad printer. Stopped working after...

[8481 rows x 2 columns]

In [68]:
frames=[df1,df2,df3,df4,df5]

In [69]:
#Final combining of all 5 types of ratings

df_reviews=pd.concat(frames,sort=False)

In [70]:
df_reviews

      Rating                                             Review
6365       5  It's really nice product worth to buy and I'm ...
2455       5                                          Very nice
14681      5                                               good
2443       5                Nice product and very comfortable 👌
2445       5         Very lightweight , thin , classic product.
...      ...                                                ...
53823      1                                        Third grade
53824      1                                          Not Happy
53825      1                                   Bat quality.....
926        1  cartridges are very low. After printing 10-15 ...
53855      1  This such a bad printer. Stopped working after...

[42405 rows x 2 columns]

In [72]:
# flight_data excel file created and saved in desktop

df_reviews.to_excel("C:\\Users\\rajbi\\OneDrive\\Desktop\\reviews_data.xlsx")